* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Montserrat', sans-serif;
  --color-primary: #cc99ff;
  --color-dark: #404040;
  --color-light: #e5ccff;
  --color-white: #ffffff;
}
