* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Montserrat', sans-serif;
  --color-background: #f7f7f5;
  --color-primary: #cc99ff;
  --color-dark: #404040;
  --color-light: #e5ccff;
  --color-white: #ffffff;
  --color-tasks: #d9f99d;
  --color-diary: #d8b4fe;
  --color-birthday: #fef08a;
  --color-books: #fed7aa;
  --color-motivation: #f9a8d4;
}
