* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Montserrat', sans-serif;
  --color-background: #f7f7f5;
  --color-text-light: #6f6e73;
  --color-primary: #cc99ff;
  --color-dark: #404040;
  --color-light: #e5ccff;
  --color-white: #ffffff;
  --color-tasks: #beeb92;
  --color-diary: #d4c2fc;
  --color-birthday: #ffe66d;
  --color-books: #ffc4a8;
  --color-motivation: #ffa6d9;
  --color-tasks-border: #4f941d;
  --color-diary-border: #683fe4;
  --color-birthday-border: #a38600;
  --color-books-border: #c35a36;
  --color-motivation-border: #c0257b;
}
